.e-header {
    height: 60px;
    border-bottom: 1px solid #dfe4ea;
    color: #57606f;
}

.e-nav-container, .e-main-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.e-labels-container {
    width: 250px;
    min-width: 250px;
    height: 100%;
}

.e-labels-container * {
    margin: 20px;
    cursor: pointer;
}

.e-emails-container {
    width: 100%;

}

.e-email-list-table {
    width: 100%;
    height: 100%;
}

.e-email-list-container {
    width: 100%;
}

.e-email-list-container tr {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #dfe4ea;
    cursor: pointer;
    color: #2f3542;
    height: 60px;
}

.e-email-list-container tr:hover {
    box-shadow: 0px 0px 2px #57606f;
}

.e-email-list-container td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    word-wrap: break-word;
    max-width:400px
}

.e-email-buttons {
    flex: 0.5;
    color: #ced6e0;
}

.e-email-buttons * {
    padding: 5px;
}

.e-email-buttons *:hover {
    color: #2f3542;
}

.e-email-address {
    flex: 1.5;
}

.e-email-subject {
    flex: 1;
}

.e-email-body {
    flex: 3;
}

.e-email-date {
    flex: 1;
    text-align: end;
}

.e-read {
    font-weight: normal;
    background-color: #f1f2f6;
}

.e-unread {
    font-weight: bold;
}

.e-read-btn::before {
    content: '\2709';
}

.e-unread-btn::before {
    content: '\2709';
}

.e-starred-btn::before {
    content: '\2605';
    color: gold;
}

.e-not-starred-btn::before {
    content: '\2606';
    color: #ced6e0;
}

.e-not-starred-btn:hover::before {
    content: '\2606';
    color: #2f3542;
}

.e-compose-mail {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 500px;
}

.e-compose-mail textarea {
    height: 300px;
}

.e-email-details {
    width: 100%;
}

.e-email-details h2 {
    margin: 30px 0px;
}

.e-read-status-container {
    width: 90%;
    background-color: #747d8c;
    margin: 0;
    border-radius: 4px;
}

.e-read-status-bar {
    background-color: #2ed573;
    color: white;
    letter-spacing: 1px;
    margin: 0;
    border-radius: 4px;
}

.e-toggle-filter-container{
    justify-content: flex-end;
}

.e-toggle-filter {
    margin: 15px;
    width: 40px;
    border-radius: 2.5rem;
    cursor: pointer;
    display: flex;
}

.e-toggle-off {
    background-color: #747d8c;
    justify-content: flex-start;
}

.e-toggle-on {
    background-color: #2ed573;
    justify-content: flex-end;
}

.e-filter-by-read {
    padding-bottom: 2px;
}